body {
    margin: 0;
    padding: 0;
    background-image: url('https://becodeorg.github.io/end-of-prairie-technical-drill/images/css_animation_exercise_stage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}