body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /*background-image: url('https://becodeorg.github.io/end-of-prairie-technical-drill/images/css_animation_exercise_4.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stage {
    width: 600px;
    height: 600px;
    outline: 1px solid red;
    position: absolute;
}

#hero {
    width: 75px;
    height: 75px;
    border: 1px dashed red;
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 20px;
    animation-name: 
        move_right, 
        move_down,
        move_left501, rotation451,
        move_left502, rotation452, color_chage,
        move_down_right, square_to_ball;
    animation-duration: 
        5s,
        2s,
        0.5s, 0.5s,
        2.5s, 2.5s, 2.5s,
        5s,5s;
    animation-delay:
        0s,
        5s,
        7s, 7s,
        9s, 9s, 9s,
        11.5s, 11.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move_right {
    0% {left:20px;}
    100% {left:500px;}
}

@keyframes move_down {
    0% {top:20px;}
    100% {top:200px;}
}

@keyframes move_left501 {
    0% {left:500px;}
    100% { left:270px;}
}

@keyframes move_left502 {
    0% {left:270px; top: 200px;}
    100% { left:20px; top: 204px;}
}

@keyframes rotation451 {
    from {transform: rotate(0deg);}
    to {transform: rotate(45deg);}
}

@keyframes rotation452 {
    from {transform: rotate(45deg);}
    to {transform: rotate(90deg);}
}

@keyframes color_chage {
    from {border: 1px dashed gred;}
    to{border: 1px dashed #0900BD;}
}

@keyframes move_down_right {
    0% {top:204px; left: 20px;}
    100%{top: 440px; left: 440px;}
}

@keyframes square_to_ball {
    from {
        height: 75px;
        width: 75px;
        border: 1px dashed #0900BD;
    }
    to { 
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border-color: transparent;
        background: radial-gradient(#FBDA61, #F76B1C);
    }
}