body {
    margin: 0;
    padding: 0;
    background-image: url('https://becodeorg.github.io/end-of-prairie-technical-drill/images/css_animation_exercise_stage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#stage {
    width: 600px;
    height: 600px;
    outline: 1px solid red;
}

#hero {
    width: 75px;
    height: 75px;
    outline: 1px dashed green;
    position: absolute;
    left: 10px;
    top: 10px;
    animation-name: move_right, move_down;
    animation-duration: 5s, 2s;
    animation-delay: 0s, 5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move_right {
    0% {left:10px;}
    100% {left:505px;}
}

@keyframes move_down {
    0% {top:10px;}
    100% {top:200px;}
}